
.samuraiHeadWrap {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 399;
}
.samuraiHead {
  transform-origin: 50% 0%;
  transform: scale(0.8); ////This is to minimize a graphical glitch that shows up on Firefox when setting head's $baseSize less than 7 vmax
  $baseSize: 10vmax;
  top: $baseSize * 0.62;
  border: $baseSize/15 solid black;
  border-right-color: red;
  border-left-color: red;
  position: absolute;
  background: #8f8f8f;
  width: $baseSize;
  border-radius: $baseSize/4 $baseSize/4 $baseSize/1.5 $baseSize/1.5;
  height: $baseSize;
  box-sizing: border-box;
  left: calc(50% - #{$baseSize}/2);
  text-align: center;
  animation: growing 5s infinite;
  z-index: -5;

  .samuraiV {
    position: absolute;
    display: inline-block;
    top: -$baseSize/2.4;
    left: calc(50% - #{$baseSize}/2.4);
    width: $baseSize/1.2;
    height: $baseSize/1;
    border: $baseSize/5 solid gold;
    box-sizing: border-box;
    background: black;
    background-size: cover;
    -webkit-clip-path: polygon(50% 54%, 100% 0, 50% 38%, 0 0);
    clip-path: polygon(50% 54%, 100% 0, 50% 38%, 0 0);
  }

  .eye {
    width: $baseSize/4;
    position: absolute;
    display: inline-block;
    height: $baseSize/5;
    top: $baseSize/4;
    background: darkorange;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
    background: #c0392b;
    animation: glowing 5s infinite;
  }

  .leftEye {
    left: $baseSize/9;
  }

  .rightEye {
    right: $baseSize/9;
  }

  .mouth {
    position: absolute;
    display: block;
    left: calc(50% - calc(#{$baseSize} - #{$baseSize}/8)/2);
    bottom: 0;
    width: calc(#{$baseSize} - #{$baseSize} / 8);
    height: $baseSize/ 2.5;
    background: #7f7f7f;
    border-bottom-left-radius: 100%;
    border-bottom-right-radius: 100%;
    transform: scale(0.98);
  }

  .armorPiece {
    background: transparent;
    display: block;
    position: absolute;
    top: -20%;
    border: solid red;
    border-width: $baseSize/2 $baseSize/4;
    border-top-color: transparent;
    overflow: hidden;
    z-index: -3;
  }

  .leftArmor {
    left: -55%;
    border-left-color: transparent;
  }

  .rightArmor {
    right: -55%;
    border-right-color: transparent;
  }

  .helmet {
    z-index: -1;
    height: $baseSize/2;
    width: calc(#{$baseSize} - #{$baseSize}/8);
    position: absolute;
    top: -39%;
    border-right-color: transparent;
    border-left-color: transparent;
    left: calc(50% - calc(#{$baseSize} - #{$baseSize}/8)/2);
    border-radius: 50% 50% 0% 0%;
    display: block;
    background-color: red;
    border: $baseSize/30 solid darken(gold, 20%);
    border-right-color: transparent;
    border-left-color: transparent;
    box-sizing: border-box;
  }

  .neckArmor {
    z-index: -15;
    width: $baseSize;
    height: $baseSize/4;
    position: absolute;
    left: calc(50% - calc(#{$baseSize} - #{$baseSize}/8)/2);
    bottom: 10%;
    background: darken(red, 10%);
  }


  @keyframes glowing {
    0% {
      filter: brightness(1.5);
    }
    50% {
      filter: brightness(1);
    }
    100% {
      filter: brightness(1.5);
    }
  }
}

.portrait .samuraiHeadWrap{
		position: absolute;
		transform-origin: 50% 0%;
		.eye{
			background: darkorange;
			filter: brightness(0.5);
			animation: none;
		}
		@media screen and (max-width: 900px){
			transform: scale(.7);
		}
		z-index: 1000;
		transform: scale(0.5);
		filter: brightness(0.5);
		@media screen and (min-width: 1500px){
			top: -20%;
		}
		
	}