@import url('https://fonts.googleapis.com/css?family=VT323');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css');

.selectBoxContainer {
  font-family: vt323;
  display: flex;
  width: 30vw;
  min-width: 350px;
  position: absolute;
  flex-direction: column;
  left: 0;
  top: 2vw;
  height: 400px;
  .tab {
    -webkit-backface-visibility: hidden;
    margin-bottom: 5px;
    $iColor: #007f00;
    overflow: hidden;
    box-sizing: content-box;
    left: -8%;
    border: 8px outset $iColor;
    border-top-width: 4px;
    border-left-width: 4px;
    border-left-color: black;
    width: 25%;
    height: 25%;
    background-color: black;
    position: relative;
    transition: width 0.25s ease-in-out, height 0.25s ease-in-out;
    position: relative;
    padding: 0;
    color: lightgreen!important;
	box-shadow: 1px 1px 2px 2px #1f5f1f;
	.faColumn{
	  position: absolute;
	  box-sizing: border-box;
	  bottom: 0;
	  left: 8%;
	  height: 15%;
	  width: 92%;
	  padding: calc(5px + .5vw);
	  display: inline-block;
	  .fa-toggle-right{
		display: none;
		top: 10px;
		left: calc(50% + 5px);
		position: absolute;
		&:active{
		filter: brightness(1.25);
	    }
	  }
		.fa-toggle-left{
		  display: none;
		  top: 10px;
		  right: calc(50% + 5px);
		  position: absolute;
		  &:active{
			filter: brightness(1.25);
		  }
		}
	}
    p {
      margin: auto;
      box-sizing: content-box;
      font-size: 18px;
      position: absolute;
      width: 100%;
      top: 37.5%;
      bottom: 0;
      left: 25%;
      text-align: center;
      transition: opacity 0.5s, top 0.5s;
    }

    .preview {
      -webkit-backface-visibility: hidden;
      width: 75%;
      height: 59%;
      top: 25%;
      left: 10%;
      position: absolute;
      text-align: center;
      background: transparent;
      border: 1px solid darkgreen;
      box-sizing: border-box;
      display: none;
	  overflow: hidden;
      .portrait{
        width: 35%;
        height: 100%;
        border-right: 1px solid green;
        box-sizing: border-box;
        background-color: #121;
        position: absolute;
        left: 0;
        top: 0;
      }
      .description{
        position: absolute;
        width: 65%;
        left: 35%;
        height: 100%;
        padding-top: 20px;
        box-sizing: border-box;
        display: block;
        font-size: calc(10px + .5vw);
      }
    }
    &.toggledOn {
      width: 100%;
      height: 150%;
      p {
        top: 5%;
        animation: changeFont 0.25s forwards;
      }
      .preview, .fa, .selectButton {
        animation: flipIn 0.55s linear;
        animation-delay: flipIn 0.75s;
        display: inline-block;
      }
    }
	.selectButton{
	  position: absolute;
	  display: none;
	  font-size: calc(12px + .5vw);
	  border: 1px solid green;
	  outline: none;
	  background: inherit;
	  color: inherit;
	  font-family: inherit;
	  font-weight: bold;
	  right: 16px;
	  bottom: 5px;
	  z-index: 10;
	  &:active{
	    filter: brightness(1.25);
	  }
	}
  }
}

@keyframes flipIn {
  0% {
    transform: rotateX(89deg);
  }
  50% {
    transform: rotateX(45deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

@keyframes changeFont {
  0% {
    font-size: 18px;
  }
  100% {
    font-size: 32px;
  }
}

// *{
//   border: 1px solid red;
// }
