@import url('https://fonts.googleapis.com/css?family=VT323');

.selectBoxContainer{
	font-family: 'VT323', monospace;
	$baseSize: 20vw;
	width: $baseSize;
	height: $baseSize * 2;
	border: .2vw solid black;
	position: absolute;
	display: flex;
	flex-direction: column;
	span{
		padding-left: 3px;
		width: 100%;
		height: 25%;
		border-bottom: .1vw solid black;
		border-top: .1vw solid black;
	}
}

