body{
	background: #f2f2f2;
	
}

.samuraiHead{

	$baseSize: 15vw;
	top: $baseSize/2;
	border: $baseSize/15 solid black;
	border-right-color: red;
	border-left-color: red;
	position: absolute;
	background: #8f8f8f;
	width: $baseSize;
	border-radius: $baseSize/4 $baseSize/4 $baseSize/2.5 $baseSize/2.5;
	height: $baseSize;
	box-sizing: border-box;
	left: calc(50% - #{$baseSize}/2);
	text-align: center;
	.samuraiV{
		position: absolute;
		display: inline-block;
		top: -$baseSize/2.4;
		left: calc(50% - #{$baseSize}/2.4);
		width: $baseSize/1.2;
		height: $baseSize/1;
		border: $baseSize/5 solid gold;
		box-sizing: border-box;
		background: red;
		background-size: cover;
		-webkit-clip-path: polygon(50% 54%, 100% 0, 50% 38%, 0 0);
		clip-path: polygon(50% 54%, 100% 0, 50% 38%, 0 0);
	}
	.leftEye{
		width: $baseSize/4;
		position: absolute;
		display: inline-block;
		height: $baseSize/3;
		left: $baseSize/9;
		top: $baseSize/15;
		background: #27ae60;
		background-size: cover;
		transform: rotateZ(-27deg);
		-webkit-clip-path: polygon(19% 9%, 76% 45%, 100% 75%, 68% 80%, 34% 61%, 16% 43%);
		clip-path: polygon(19% 9%, 76% 45%, 100% 75%, 68% 80%, 34% 61%, 16% 43%);
	}
	.rightEye{
		width: $baseSize/4;
		position: absolute;
		display: inline-block;
		height: $baseSize/3;
		right: $baseSize/9;
		top: $baseSize/15;
		background: #27ae60;
		background-size: cover;
		transform: rotateZ(27deg) rotateY(180deg);
		-webkit-clip-path: polygon(19% 9%, 76% 45%, 100% 75%, 68% 80%, 34% 61%, 16% 43%);
		clip-path: polygon(19% 9%, 76% 45%, 100% 75%, 68% 80%, 34% 61%, 16% 43%);
	}
}